.detailbox {
  //margin-right: 0;
  //margin-left: 0;
  margin-bottom: 5pt;
  background-color: #fff;//$flat-clouds;
  border-color: $flat-asbestos; //#ddd;
  border-width: 0.5pt;
  border-radius: 4pt;
  -webkit-box-shadow: none;
  box-shadow: none;
  position: relative;
  padding: 10pt 15pt 10pt 15pt;
  //margin: 0 -15px 15px;
  //border-color: #e5e5e5 #eee #eee;
  border-style: solid;
}

.detailbox > table {
  margin: 0pt;
}
