.tag {
  color:#2f6f9f;
}

.attr {
  color: #4f9fcf;
}

.style {
  color: #d44950;
}

.comment {
  color: #999;
}

.function {
  color: #d44950;
}

.functionName {
  color: #4f9fcf;
}

.var {
  color: #C30;
}

.varName {
  color: #c18401;
}

.string {
  color: #008200;
}