@import 'colors';
@import 'text';

.footer {
  font-family: $default-head-font;
  color: $flat-silver;
  padding: 10pt;
  left: 0px;
  width: 100%;
  bottom: 0px;
  border-top: solid 1px #ccc;

  a {
    color: $flat-silver;
    font-size: 10pt;
    transition:all .3s ease-out;
  }

  p {
    margin-top: 10pt;
    margin-bottom: 5pt;
    font-size: 11pt;
  }

  a > img {
    width: 25pt;
    margin-right: 2pt;
    margin-left: 2pt;
  }

  .social-links {
    list-style:none;
    margin: 15px 0px;
    padding:0;
}

  .social-links li{
      display:inline-block;
      margin:0 5px;
      border-radius:3px;
      box-shadow:0 4px 0 transparent;
      transition:all .3s ease-out;
  }

  .social-links li a {
      display:block;
      color:#fff;
      color:rgba(255,255,255,0.6);
      font-size:18px;
      width:40px;
      height:40px;
      line-height:40px;
      text-align:center;
      background:rgba(0,0,0,0.2);
      border-radius:50%;
      -webkit-transition:all .3s ease-out;
      transition:all .3s ease-out;
  }

  .social-links li a:hover {
      color:#fff;
      background: $tum-color;
  }

  .partners {
    li {
      padding: 5px 0px;
    }
  }

  .foot-nav {
    li {
      padding: 5px 0px;
    }
  }

  li a:hover {
    color: $tum-color;
  }
}
