@import 'colors';

.footer {
  color: $flat-silver;
  padding: 10pt;

  a {
    color: $flat-silver;
    font-size: 10pt;
  }

  p {
    margin-top: 10pt;
    margin-bottom: 5pt;
    font-size: 11pt;
  }

  .copyright {
    margin-top: 15pt;
  }

  a > img {
    width: 25pt;
    margin-right: 2pt;
    margin-left: 2pt;
  }
}