@import 'colors';
@import 'text';
@import 'positioning';
@import 'searchbar';
@import 'plugins/animate';
@import './fonts/league-gothic/stylesheet';
@import './fonts/tum-neue-helvetica/stylesheet';
@import 'header';
@import url('https://fonts.googleapis.com/css?family=Roboto|Titillium+Web');

/*
font-family: 'Roboto', sans-serif;
font-family: 'Titillium Web', sans-serif;
*/

html {
  height: 100%;
}

body {
  padding-top: 120px;
  background: url('./img/background-icon-patterns-white.svg');
  background-position: top left;
  background-attachment: fixed;
  background-repeat: repeat;
  background-size: contain;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.main-container {
  min-height: 68vh;
  margin-bottom: 25px;
  background-color: white;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
  padding: 15px 0;
}
