.home-background {
  background: linear-gradient(
          rgba(28, 53, 86, 0.25),
          rgba(28, 53, 86, 0.25)
  ),
  url('./img/background_auditorium_blur.jpg');
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.full-height {
  height: 100vh;
}

.parent-center {
    color: $flat-clouds;
    display: flex;
    justify-content: center;
    align-items: center;
}