.margin-top-5-p {
  margin-top: 5%;
}

.margin-top-10-p {
  margin-top: 10%;
}

.margin-top-20-p {
  margin-top: 20%;
}

.margin-bottom-5-p {
  margin-bottom: 5%;
}

.margin-bottom-10-px {
  margin-bottom: 10px;
}

.full-height {
  height: 100vh;
}

.parent-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
