.searchResult {
  //margin-top: 5pt;
  //display: flex;
}

.searchMessage {
  background-color: $flat-clouds;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40pt;
}

searchResult additional-info {
  //font-weight: bold;
  color: $flat-asbestos;
}
