.searchResult {
  background-color: $flat-clouds;
  align-items: center;
  min-height: 30pt;
  margin-bottom: 2pt;
  padding-bottom: 2pt;
}

.searchResult-icon {
  font-size: 15pt;
}

.searchMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40pt;
}

.search-error {
  margin-top: 20px;
  margin-left: 8px;
}
/* Table of search results in the search component */

table {
  color: $flat-midnight-blue;
  thead {
    font-family: 'League Gothic' !important;
    font-size: 23px;
  }
  tr {
    cursor: pointer;
  }
}
