.searchbar {

  form {
    margin-left: 10pt;
    margin-right: 10pt;
  }

  .list-group-item {
    color: $flat-asbestos;
  }

  .list-group {
    position: absolute;
    // min-width: 30%;
    z-index: 999;
  }

  .autocomplete {
    min-width: 20%;
  }

  input {
    font-family: 'Roboto', sans-serif;
    font-size: 20px !important;
    border-bottom: solid 1px #ccc !important;
    background: url('./img/search-icon-white.svg');
    background-position: right;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 50px 30px;
    border: none;
    box-shadow: none !important;
    height: 60px;
    border-radius: 0px;
    outline: none;
    color: $flat-midnight-blue;
  }

  ::placeholder {
    color: $flat-gray-2;
    opacity: 0.6;
  }
}
