.searchbar {

  form {
    width: 68%;
    margin-left: 10pt;
    margin-right: 10pt;
  }

  input {
    font: 45px 'League Gothic';
    border-bottom: solid 1px #ccc !important;
    background: url('./img/search-icon-white.svg');
    background-position: right;
    background-attachment: fixed;
    background-repeat: no-repeat;
    border: none;
    box-shadow: none !important;
    height: 60px;
    border-radius: 0px;
    outline: none;
    color: $flat-midnight-blue;
  }

  ::placeholder {
    color: $flat-gray-2;
    opacity: 0.6;
  }
}
